:root {
  --primary-color: #191f43; /* Bleu foncé */
  --secondary-color: #879eb9; /* Bleu clair */
  --background-color: #f5f5f5; /* Gris clair */
  --text-primary: #ffffff; /* Blanc */
  --text-secondary: #000000; /* Noir */
}

.profile-container {
 max-width: 100%; 
 width: 400px;
   margin: 30px auto; /* Centrage horizontal et espacement par rapport au haut */
  padding: 20px; /* Vous pouvez ajuster ceci selon vos besoins */
  background-color: var(--secondary-color);
  position: relative;
  float: right; /* Ajouté pour aligner le conteneur à gauche */
  margin-right: 15px; /* Ajustez cette valeur pour éloigner le conteneur du bord gauche */
  height: 100%; /* Fait en sorte que le conteneur occupe toute la hauteur de la fenêtre de visualisation */
  border-radius: 10px;
  margin-top: 1.1%; /* hedhi mta3 thabt lfou9 */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-picturee {
  width: 180px; /* Réduction de la taille de l'image de profil */
  height: 180px;
  border: 2px solid var(--primary-color); /* Bordure de couleur primaire ajoutée */
  border-radius: 50%;
  object-fit: cover; /* Assurez-vous que l'image couvre bien l'espace */
}
.delete-profile-picture-icon{
    position: absolute;
  cursor: pointer;
  left: calc(
    100% - 170px
  ); /* Exemple d'ajustement, à modifier selon vos besoins */
  bottom: calc(100% - 190px);
  top: 20%;
  color: #191f43; /* Couleur de l'icône */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-profile-picture-icon {
  position: absolute;
  cursor: pointer;
  right: calc(
    100% - 170px
  ); /* Exemple d'ajustement, à modifier selon vos besoins */
  bottom: calc(100% - 170px);
  top: auto;
  color: #191f43; /* Couleur de l'icône */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header h1 {
  color: var(--primary-color);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.profile-header p {
  color: var(--text-primary);
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; /* Arrière-plan blanc pour détacher du fond */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.stat {
  text-align: center;
}

.stat h3 {
  color: var(--primary-color);
}

.profile-bio,
.profile-info {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour du relief */
  transition: all 0.3s ease; /* Transition douce pour les effets de survol */
  overflow-wrap: break-word; /* Assure que le texte se casse pour éviter le débordement */
}
.capital {
  text-transform: capitalize;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner les éléments enfants au début */
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.info-item {
  display: flex;
  align-items: center; /* Centrer les éléments verticalement */
  width: 100%; /* Assurez-vous que l'info-item prend toute la largeur */
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: var(--text-secondary);
  min-width: 100px;
}

.info-value {
  flex-grow: 1; /* Permet à l'info-value de prendre l'espace restant */
  text-align: left; /* Alignement du texte à gauche */
  margin-left: 10px;
  word-break: break-all;
}

/* Hover effects pour bio et info pour un feedback interactif */
.profile-bio:hover,
.profile-info:hover {
  transform: translateY(-5px); /* Légère remontée pour un effet dynamique */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.separator {
  height: 50px; /* Ajustement selon le besoin */
}
/* Style spécifique pour l'input de modification */
.edit-input {
  padding: 5px 0px;
  border: 1px solid #191f43;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
  background-color: #f5f5f5;
  transition: border-color 0.3s; /* Transition douce pour la bordure */
}

.edit-input:focus {
  border-color: #0056b3; /* Couleur de bordure plus foncée lors du focus */
  outline: none; /* Supprime le contour par défaut lors du focus */
}

/* Style spécifique pour l'icône d'édition */
.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #191f43; /* Couleur de l'icône d'édition */
  transition: color 0.3s; /* Transition de couleur douce */
}

.edit-icon:hover {
  color: #0056b3; /* Couleur de l'icône d'édition au survol */
}

.edit-input-desc {
  padding: 30px 30px;
  border: 1px solid #191f43;
  border-radius: 5px;
  font-size: 14px;
  color: #191f43;
  background-color: #f5f5f5;
  transition: border-color 0.3s; /* Transition douce pour la bordure */
}

.edit-icon-desc {
  cursor: pointer;
  margin-left: 8px; /* Ajustez selon l'espacement désiré */
  font-size: 20px; /* Ajustez la taille si nécessaire */

}

input[type='file'] {
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Espacement ajouté au-dessus du bouton */
}

input[type='file']::file-selector-button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-primary);
  border: none;
  transition: background-color 0.3s;
}
input[type='file']::file-selector-button:hover {
  background-color: darken(var(--primary-color), 10%);
}
.view-saved-posts-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin: 20px 0; /* Add some margin around */
}

.open-saved-posts-btn {
  background-color: var(--primary-color); /* Use your primary color */
  color: var(--text-primary);
  border: none;
  padding: 10px 15px;
  border-radius: 20px; /* Rounded corners */
  display: flex;
  align-items: center; /* Align icon and text */
  gap: 10px; /* Space between icon and text */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover */
  text-decoration: none; /* Remove underline from icons or text */
  font-size: 13px; /* Adjust based on your preference */
}

.open-saved-posts-btn:hover {
  background-color: darken(
    var(--primary-color),
    10%
  ); /* Darken or adjust the color as needed */
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px #191f43; /* Optional: add a custom focus shadow for accessibility */
  color: #191f43;
}
.open-saved-posts-btn:hover .saved-posts-icon {
  color: #191f43; /* Change the icon color on hover */
}

.saved-posts-icon {
  color: var(--text-primary); /* Icon color */
  font-size: 20px; /* Icon size */
}
.profile-picture-options {
  position: relative; /* This makes the dropdown position relative to this div */
}
.profile-picture-wrapper {
  position: relative;
  display: inline-block; /* Or flex, depending on your layout */
}
.dropdown-toggle-btn {
 position: absolute;
  right: 10;
  top: 0;
    color: var(--primary-color); /* Use primary color for the button */

  cursor: pointer;
  background: none;
  border: none;
  font-size: 27px;
    padding: 5px;

    border-radius: 50%; /* Circular shape */
  transition: background-color 0.2s ease-in-out;

}

.dropdown-menu {
  position: absolute;
  top: 35px; /* Adjust according to the button's size */
  right: 0;
  background-color: var(--text-primary); /* Light background for the menu */
  border: 1px solid var(--primary-color); /* Border color similar to primary */
  border-radius: 5px; /* Rounded corners for the dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 100;
  min-width: 120px; /* Ensure menu has enough width */
  text-align: left;
}

/* Dropdown Menu Items */
.dropdown-menu div {
  color: var(--primary-color); /* Dark text for readability */
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 13px;
  font-weight: bold;
}

.dropdown-menu div:hover {
  background-color: var(--secondary-color); /* Highlight menu item on hover */
  color: var(--text-primary); /* White text for contrast */
}

.password-change-form {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.password-change-form .info-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.password-change-form .info-label {
  font-weight: bold;
  color: var(--text-secondary);
  min-width: 150px;
}

.password-change-form .edit-input {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--text-secondary);
  background-color: var(--text-primary);
  transition: border-color 0.3s;
  width: 100%;
}

.password-change-form .edit-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button-groupee {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-buttonee,
.cancel-buttonee {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.confirm-buttonee {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

.confirm-buttonee:hover {
  background-color: darken(var(--primary-color), 10%);
  transform: translateY(-2px);
}

.cancel-buttonee {
  background-color: var(--secondary-color);
  color: var(--text-secondary);
}

.cancel-buttonee:hover {
  background-color: darken(var(--secondary-color), 10%);
  transform: translateY(-2px);
}