.Posts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
     width: 620px; 
             min-height: 600px; 

}
@media (max-width: 768px) {
  .Posts {
    width: 100%;
    min-height: auto;
  }
}