.tousLesUtilisateurs-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.tousLesUtilisateurs-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tousLesUtilisateurs-header h1 {
  margin: 0;
  font-size: 24px;
  color: #191F43;
  flex: 1 100%;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
  flex: 1 100%;
  justify-content: flex-start;
  margin-top: 10px;
}

.tousLesUtilisateurs-search-input {
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 300px;
  margin-left: auto; /* Push the search bar to the right */
}

.tousLesUtilisateurs-search-input:focus {
  border-color: #191F43;
}

.navigation-buttons button {
  padding: 8px 16px;
  background-color: #F5F5DC;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

   .navigation-buttons .navigation-buttonsTous {
     background-color: #F5F5DC; /* Couleur spécifique */
     border-radius: 10px; /* Rayon de bordure spécifique */
   }

   .navigation-buttons .navigation-buttonsTous:hover {
     background-color: #DCDCC6 !important;
   }
   .navigation-buttonsTous {
     background-color: #F5F5DC !important;
     border-radius: 10px !important;
     font-weight: bold;
     color:black !important;
   }
