.listCollaborateur-container {
    padding: 60px;
  }
  
  .listCollaborateur-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .listCollaborateur-title {
    color: #191f43;
    font-size: 24px;
    font-weight: 600;
  }
  
  .listCollaborateur-search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #bbb;
    border-radius: 20px;
    width: 300px;
    margin-top: -67px;
    outline: none;
    margin-left: auto;
  }
  
  .listCollaborateur-search-input:focus {
    border-color: #191f43;
  }
  
  .collaborateur-scroll-container {
    display: flex;
    overflow-x: auto;
  }
  
  .collaborateur-card {
    width: 200px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  .collaborateur-card.active {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .collaborateur-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .collaborateur-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #191f43;
  }
  
  .collaborateur-card-description {
    font-size: 14px;
    color: #555;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .navigation-buttons button {
    background-color: #191f43;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navigation-buttons button:hover {
    background-color: #163172;
  }
  