/* listClient.css */
.list-client-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.list-client-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-client-header h1 {
    margin: 0;
    font-size: 24px;
    color: #191F43;
    flex: 1 100%;
}

.search-filter-container {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

.navigaate-container {
    display: flex;
    gap: 10px;
    flex: 1 100%; /* Take full width to align items at the start */
    justify-content: flex-start;
    margin-top: 10px; /* Add some space between header and navigation links */
}

.navigate-employe {
    cursor: pointer;
    font-size: 18px;
    color: #191F43;
    font-weight: bold;
}

.navigate-employe:hover {
    text-decoration: underline;
}


.filter-container button, .search-filter-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: #e7e7e7;
}

.filter-container button:hover, .search-filter-container button:hover {
    background-color: #d4d4d4;
}

.filter-container button.active, .search-filter-container button.active {
    background-color: #191F43;
    color: white;
}

.list-client-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.list-client-table thead {
    background-color: #191F43;
    color: white;
}

.list-client-table thead th {
    padding: 10px;
    text-align: left;
}

.list-client-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.list-client-table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.list-client-table tbody tr:hover {
    background-color: #e2e2e2;
}

.list-client-table td {
  padding: 10px;
  text-align: left;}

.list-client-table td button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #ff4136;
    color: white;
    margin-left: 10px;
}

.list-client-table td button.unblock {
    background-color: #2ecc40;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .list-client-header {
        flex-direction: column;
        align-items: flex-start;
    }


    .navigate-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

.profile-picture {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
  }
  
  .list-client-search-input {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px; /* Assure un espacement si nécessaire */
}

.list-client-navigate-button {
    padding: 8px 16px;
    background-color: #191F43;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-client-navigate-button:hover {
    background-color: #163172; /* Plus sombre au survol */
}

.list-client-search-filter-container button {
    background-color: #e7e7e7; /* Fond gris clair */
    color: #191F43; /* Texte foncé pour le contraste */
    transition: background-color 0.3s ease;
}

.list-client-search-filter-container button:hover {
    background-color: #d4d4d4; /* Plus sombre au survol */
}

.list-client-search-filter-container button.active {
    background-color: #191F43;
    color: white;
}

/* S'assure que les styles des boutons sont cohérents pour un look unifié */
.list-client-button {
    font-size: 16px; /* Ajustez la taille de la police selon les besoins */
    margin: 0 5px; /* Ajoute de l'espace entre les boutons */
}
