:root {
  --primary-color: #191f43; /* Bleu foncé */
  --secondary-color: #879eb9; /* Bleu clair */
  --background-color: #f5f5f5; /* Gris clair */
  --text-primary: #ffffff; /* Blanc */
  --text-secondary: #000000; /* Noir */
}

.profile-container {
  max-width: 400px; /* Taille réduite pour le conteneur */
  margin: 0px; /* Ajustez selon l'espacement souhaité autour du conteneur */
  padding: 20px; /* Vous pouvez ajuster ceci selon vos besoins */
  background-color: var(--secondary-color);
  position: relative;
    float: right; /* Ajouté pour aligner le conteneur à gauche */
  margin-right: 20px; /* Ajustez cette valeur pour éloigner le conteneur du bord gauche */
  height: 92vh; /* Fait en sorte que le conteneur occupe toute la hauteur de la fenêtre de visualisation */
border-radius: 10px;
 margin-top: 30px; /* hedhi mta3 thabt lfou9 */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-picturee {
  width: 150px; /* Réduction de la taille de l'image de profil */
  height: 150px;
  border: 2px solid var(--primary-color); /* Bordure de couleur primaire ajoutée */
  border-radius: 50%;
  object-fit: cover; /* Assurez-vous que l'image couvre bien l'espace */
}

.edit-profile-picture-icon {
  position: absolute;
  cursor: pointer;
  right: calc(
    100% - 170px
  ); /* Exemple d'ajustement, à modifier selon vos besoins */
  bottom: calc(100% - 170px);
  top: auto;
  color: #191f43; /* Couleur de l'icône */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header h1 {
  color: var(--primary-color);
  margin-bottom: 5px;
    text-transform: capitalize; 
}

.profile-header p {
  color: var(--text-primary);
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; /* Arrière-plan blanc pour détacher du fond */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.stat {
  text-align: center;
}

.stat h3 {
  color: var(--primary-color);
}

.profile-bio,
.profile-info {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour du relief */
  transition: all 0.3s ease; /* Transition douce pour les effets de survol */
    overflow-wrap: break-word; /* Assure que le texte se casse pour éviter le débordement */

}
.capital{
    text-transform: capitalize; 
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner les éléments enfants au début */
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.info-item {
  display: flex;
  align-items: center; /* Centrer les éléments verticalement */
  width: 100%; /* Assurez-vous que l'info-item prend toute la largeur */
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: var(--text-secondary);
  min-width: 100px; 
}

.info-value {
  flex-grow: 1; /* Permet à l'info-value de prendre l'espace restant */
  text-align: left; /* Alignement du texte à gauche */
  margin-left: 10px;
  word-break: break-all;
}

/* Hover effects pour bio et info pour un feedback interactif */
.profile-bio:hover,
.profile-info:hover {
  transform: translateY(-5px); /* Légère remontée pour un effet dynamique */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.separator {
  height: 50px; /* Ajustement selon le besoin */
}
/* Style spécifique pour l'input de modification */
.edit-input {
  padding: 5px 0px;
  border: 1px solid #191f43;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
  background-color: #f5f5f5;
  transition: border-color 0.3s; /* Transition douce pour la bordure */
}

.edit-input:focus {
  border-color: #0056b3; /* Couleur de bordure plus foncée lors du focus */
  outline: none; /* Supprime le contour par défaut lors du focus */
}

/* Style spécifique pour l'icône d'édition */
.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #191f43; /* Couleur de l'icône d'édition */
  transition: color 0.3s; /* Transition de couleur douce */
}

.edit-icon:hover {
  color: #0056b3; /* Couleur de l'icône d'édition au survol */
}

.edit-input-desc {
  padding: 30px 30px;
  border: 1px solid #191f43;
  border-radius: 5px;
  font-size: 14px;
  color: #191f43;
  background-color: #f5f5f5;
  transition: border-color 0.3s; /* Transition douce pour la bordure */
}
.edit-icon-desc {
  margin-left: 10px;
  cursor: pointer;
  color: #191f43; /* Couleur de l'icône d'édition */
  transition: color 0.3s; /* Transition de couleur douce */
}

input[type='file'] {
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; /* Espacement ajouté au-dessus du bouton */
}

input[type='file']::file-selector-button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-primary);
  border: none;
  transition: background-color 0.3s;
}
input[type='file']::file-selector-button:hover {
  background-color: darken(var(--primary-color), 10%);
}
