/* CSS global pour le post */
.Post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor); /* Ajustez selon votre thème */
    border-radius: 1rem;
    gap: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     overflow-wrap: break-word;
}

/* Mise en page et style pour l'en-tête du post, incluant le nom de l'utilisateur et sa photo */
.postHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem; /* Espace entre l'en-tête et le contenu du post */
}

.postHeader .userPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.postHeader .userName {
    font-weight: bold;
    font-size: 14px; /* Taille de la police pour le nom de l'utilisateur */
    font-family: Arial, sans-serif; /* Famille de polices pour le nom */
}

/* Style pour le contenu du post */
.postContent {
    font-weight: bold;
    font-size: 16px; /* Taille de la police pour le contenu */
    font-family: 'Helvetica Neue', sans-serif; /* Famille de polices pour le contenu */
    margin-bottom: 1rem; /* Espace entre le contenu et les réactions */
}

/* Réglages pour les icônes de réactions */
.postReact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.postReact img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.postReact img:hover {
    transform: scale(1.2);
}

.postHeader .userName {
  font-weight: bold; /* Rend le texte en gras */
  font-size: 16px; /* Ajuste la taille de la police */
  font-family: 'Helvetica Neue', sans-serif; /* Change la famille de polices */
  margin-left: 10px; /* Ajoute un peu d'espace entre l'image et le nom */
}
/* comments css*/
.comment {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

.commentUserPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0; /* Empêche la photo de l'utilisateur de réduire */
}

.commentDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permet au nom d'utilisateur et au contenu de s'étendre */
}

.userNameComment {
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #37474F;
    margin-bottom: 0.25rem; /* Espacement inférieur réduit */
    text-align: left;
}

.commentContent {
    padding: 0.25rem 1rem 0.25rem 1rem; /* Réduction du rembourrage et ajout d'espace à droite */
    background-color: #CFD8DC;
    border-radius: 25px; /* Augmentation du rayon de la bordure */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    word-wrap: break-word; /* Permet au texte de se couper correctement s'il est trop long */
}

.commentText {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #37474F;
}
.commentContentt {
    padding: 0.25rem 1rem 0.25rem 1rem; /* Réduction du rembourrage et ajout d'espace à droite */
    background-color: #CFD8DC;
    border-radius: 25px; /* Augmentation du rayon de la bordure */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Permet au texte de se couper correctement s'il est trop long */
}
.likesCount{
    text-align: left;
}
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #646464; /* Gris moyen */
}

.iconButton:hover {
  color: #000000; /* Noir pour un effet survol */
}

.navigationButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust the size of arrows */
    color: #646464; /* Adjust the color of arrows */
  }
  
  /* You might want to adjust the .postImages and .postImage styles for better positioning */
  .postImages {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image and buttons */
    gap: 10px; /* Adjust the gap between images as needed */
    margin-top: 15px; /* Space above the image section */
  }
  
  .postImage {
    max-width: 90%; /* Adjust based on your preference */
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
  }  
  