/* CSS global pour le post */
.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor); /* Ajustez selon votre thème */
  border-radius: 1rem;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
}

/* Mise en page et style pour l'en-tête du post, incluant le nom de l'utilisateur et sa photo */
.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.postHeader .userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userDetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.postManagementButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.postHeader .userName {
  font-weight: bold;
  font-size: 14px; /* Taille de la police pour le nom de l'utilisateur */
  font-family: Arial, sans-serif; /* Famille de polices pour le nom */
}

/* Style pour le contenu du post */
.postContent {
  font-weight: bold;
  font-size: 16px; /* Taille de la police pour le contenu */
  font-family: 'Helvetica Neue', sans-serif; /* Famille de polices pour le contenu */
  margin-bottom: 1rem; /* Espace entre le contenu et les réactions */
}

/* Réglages pour les icônes de réactions */
.postReact {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.postReact img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.postReact img:hover {
  transform: scale(1.2);
}

.postHeader .userName {
  font-weight: bold; /* Rend le texte en gras */
  font-size: 16px; /* Ajuste la taille de la police */
  font-family: 'Helvetica Neue', sans-serif; /* Change la famille de polices */
  margin-left: 10px; /* Ajoute un peu d'espace entre l'image et le nom */
}
/* comments css*/
.comment {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
}

.commentUserPhoto {
  margin-top: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0; /* Empêche la photo de l'utilisateur de réduire */
}
.responseUserPhoto {
  width: 30px; /* Smaller width for reply profile photos */
  height: 30px; /* Smaller height for reply profile photos */
  border-radius: 50%; /* Keeps the circular shape */
  object-fit: cover; /* Ensures the photo covers the available space */
  flex-shrink: 0; /* Prevents the photo from shrinking */
float: left;
margin-top: 6%;}
.responseActions {
   display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}
.commentDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permet au nom d'utilisateur et au contenu de s'étendre */
}
.responseDetails {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5; /* Même couleur de fond que les commentaires pour la cohérence */
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
}
.userNameComment {
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #37474f;
  margin-bottom: 0.25rem; /* Espacement inférieur réduit */
  text-align: left;
  margin-left: 17px;
}
.userNameResponse {
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #37474f;
text-align:left ;  
display: flex;
margin-left: 11%;
  margin-bottom: 0.25rem; /* Espacement inférieur réduit */

}

.commentContent {
  padding: 0.25rem 1rem 0.25rem 1rem; /* Réduction du rembourrage et ajout d'espace à droite */
  background-color: #cfd8dc;
  border-radius: 25px; /* Augmentation du rayon de la bordure */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  word-wrap: break-word; /* Permet au texte de se couper correctement s'il est trop long */
}
.responseContent {
  padding: 0.25rem 1rem 0.25rem 1rem; /* Réduction du rembourrage et ajout d'espace à droite */
  background-color: #cfd8dc;
  border-radius: 25px; /* Augmentation du rayon de la bordure */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  word-wrap: break-word; /* Permet au texte de se couper correctement s'il est trop long */
  max-width: 80%; /* Ajustement de la largeur maximale pour être plus étroit */
  margin: 0 auto; /* Centrage du contenu si moins large que le max-width */
}
.commentText {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #37474f;
}
.responseText {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #37474f;
}
.commentContentt {
  padding: 0.25rem 1rem 0.25rem 1rem; /* Réduction du rembourrage et ajout d'espace à droite */
  background-color: #cfd8dc;
  border-radius: 25px; /* Augmentation du rayon de la bordure */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Permet au texte de se couper correctement s'il est trop long */
}
.likesCount {
  text-align: left;
}
.likesCountReact {
  text-align: left;
  margin-left: 25px;
}
.likesCountReact span {
  cursor: pointer;
  color: #191f43; /* Couleur bleue pour indiquer qu'il est cliquable, ajustez selon votre design */
  text-decoration: underline; /* Souligner pour montrer qu'il est interactif */
  transition: color 0.3s ease; /* Transition douce pour le survol */
}

.likesCountReact span:hover {
  color: #ed1c24;
}
/* for response likes */
.likesCountReactRes {
  text-align: left;
  margin-left: 60px;
}
.likesCountReactRes span {
  cursor: pointer;
  color: #191f43; /* Couleur bleue pour indiquer qu'il est cliquable, ajustez selon votre design */
  text-decoration: underline; /* Souligner pour montrer qu'il est interactif */
  transition: color 0.3s ease; /* Transition douce pour le survol */
}

.likesCountReactRes span:hover {
  color: #ed1c24;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px; /* Optional: for rounded corners */
  transition: transform 0.2s, color 0.2s; /* Smooth transition for hover effects */
}
.iconButton svg {
  font-size: 1rem; /* Makes icons slightly larger */
  color: #191f43; /* Example color: Blue */
}

.iconButton:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}
/* icons for response */
.iconButtonRes {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  border-radius: 4px; /* Optional: for rounded corners */
  transition: transform 0.2s, color 0.2s; /* Smooth transition for hover effects */
}
.iconButtonRes svg {
  font-size: 1rem; /* Makes icons slightly larger */
  color: #191f43; /* Example color: Blue */
}

.iconButtonRes:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}
.navigationButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust the size of arrows */
  color: #646464; /* Adjust the color of arrows */
}

/* You might want to adjust the .postImages and .postImage styles for better positioning */
.postImages {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image and buttons */
  gap: 10px; /* Adjust the gap between images as needed */
  margin-top: 15px; /* Space above the image section */
}

.postImage {
  width: 100%; /* Ajuste la largeur à 100% de son conteneur */
  height: 300px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Couvre la zone du conteneur sans perdre le ratio */
  border-radius: 8px; /* Coins arrondis pour l'esthétique */
  object-fit: contain; /* Assure que toute l'image est visible */
}

.editContent {
  width: 90%; /* Utilisation de toute la largeur disponible */
  padding: 10px; /* Espacement interne pour le confort de saisie */
  background-color: #f9f9f9; /* Fond légèrement différent pour indiquer la zone d'édition */
  border: 1px solid #f0f0f0; /* Bordure discrète pour définir la zone d'édition sans être intrusive */
  border-radius: 8px; /* Coins légèrement arrondis pour un look moderne */
  font-size: 14px; /* Taille de police lisible */
  line-height: 1.6; /* Hauteur de ligne pour la lisibilité */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Police propre et moderne */
  resize: none; /* Désactivation du redimensionnement */
  transition: background-color 0.2s, border-color 0.2s; /* Transition douce pour l'interaction */
}
.commentEdit {
  width: calc(
    100% - 10px
  ); /* Ajustez la largeur pour être légèrement inférieure à celle du commentaire original */
  padding: 0.5rem 1rem; /* Utilisez le même padding que celui du commentaire original pour la cohérence */
  margin-left: 10px; /* Décale légèrement à droite */
  margin-bottom: 0.25rem; /* Assure un petit espace en dessous */
  font-size: 12px; /* Correspond à la taille de la police du commentaire original */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Utilise la même famille de polices */
  border-radius: 25px; /* Conserve les bordures arrondies du commentaire original */
  background-color: #cfd8dc; /* Fond blanc pour indiquer l'état d'édition */
  box-sizing: border-box; /* S'assure que la largeur et la hauteur incluent le padding et la bordure */
  resize: none; /* Empêche le redimensionnement pour les éléments textarea */
}

.editResponseInput {
  max-width: 80%; 
  width: 80%;
  padding: 15px;
  margin-bottom: 0.25rem; /* Assure un petit espace en dessous */
  font-size: 12px; /* Correspond à la taille de la police du commentaire original */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Utilise la même famille de polices */
  border-radius: 25px; /* Conserve les bordures arrondies du commentaire original */
  background-color: #cfd8dc; /* Fond blanc pour indiquer l'état d'édition */
  resize: none; /* Empêche le redimensionnement pour les éléments textarea */
}
.editResponseInput:focus {
  outline: 2px solid #191f43; /* Indique le focus avec une bordure bleue */
}
.commentEdit:focus {
  outline: 2px solid #191f43; /* Indique le focus avec une bordure bleue */
}

.editContent:focus {
  box-shadow: inset 0 0 0 2px #4d90fe; /* Bleu clair pour le focus */
  background-color: #ffffff; /* Plus clair pour indiquer l'édition */
}

/* Pour le bouton de sauvegarde, utilisez une icône de sauvegarde (vous pouvez utiliser FontAwesome ou une bibliothèque similaire) */
.saveIconn {
  font-size: 1.2rem; /* Ajustez selon vos icônes */
  color: #4d90fe; /* Couleur bleue pour une action positive */
}
.commentActions {
  display: flex;
  justify-content: flex-end;
  margin-right: 9px;
}
.commentActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
}
.responseActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
}
.response {
  margin-bottom: 0.75rem;
  background-color: transparent;}

.heartIconUnliked {
  color: transparent; /* Or any other background color of your app */
  stroke: #191f43;
  stroke-width: 25px; /* Adjust the stroke width as needed */
  font-size: 1.11rem; /* Makes icons slightly larger */
}
.heartIconUnliked:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}
.heartIconlove {
  font-size: 1.11rem; /* Makes icons slightly larger */
  color: #ed1c24;
}
.heartIconlove:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}
.commentIcon:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}
.commentIcon {
  margin-left: 10px; /* Space between heart icon and comment icon */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.11rem; /* Makes icons slightly larger */
  color: transparent; /* Example color: Blue */
  border-radius: 4px; /* Optional: for rounded corners */
  transition: transform 0.2s, color 0.2s;
  stroke: #191f43;
  stroke-width: 25px; /* Adjust the stroke width as needed */
}
.commentActionButtons {
  display: flex;
  gap: 8px; /* Adjust the spacing between buttons */
}

.userLink {
  text-decoration: none; /* Supprimez le soulignement par défaut */
  color: #37474f; /* Couleur du texte par défaut */
  transition: color 0.3s; /* Animation de transition pour une couleur de texte */
}

.userLink:hover {
  color: #191f43; /* Couleur du texte lors du survol */
}
.userNameLink {
  text-decoration: none; /* Supprimez le soulignement par défaut */
  color: #37474f; /* Couleur du texte par défaut */
  transition: color 0.3s; /* Animation de transition pour une couleur de texte */
}

.userNameLink:hover {
  color: #191f43; /* Couleur du texte lors du survol */
}
.likesCount span {
  cursor: pointer;
  color: #879eb9; /* Couleur bleue pour indiquer qu'il est cliquable, ajustez selon votre design */
  text-decoration: underline; /* Souligner pour montrer qu'il est interactif */
  transition: color 0.3s ease; /* Transition douce pour le survol */
}

.likesCount span:hover {
  color: #191f43; /* Couleur plus foncée au survol */
}

.savePostButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem; /* Adjust size as needed */
  color: #191f43; /* Choose a color that fits your theme */
}

.savePostButton:hover {
  color: #3085d6; /* Highlight on hover */
}
/* Styling for the Show Replies button */
.showRepliesButton {
  padding: 8px 16px; /* Provides some padding around the text */
  background-color: #f0f0f0; /* Light grey background */
  border: none; /* No border for a modern look */
  border-radius: 4px; /* Slightly rounded corners */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  font-size: 0.875rem; /* Sets a moderate font size */
  color: #37474f; /* Dark grey color for the text */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effect */
}

.showRepliesButton:hover {
  background-color: #e0e0e0; /* Darker grey background on hover */
  color: #191f43; /* Slightly darker text color for contrast */
}

/* Optional: Styling for the number of replies indicator */
.repliesCountIndicator {
  font-weight: bold; /* Makes the number of replies bold */
  margin-left: 4px; /* Adds a small space between the text and the number */
}
/* In your post.css file */
.showAllCommentsText {
  cursor: pointer;
  color: #191f43; /* Bootstrap-like link color */
  text-decoration: underline;
  display: block; /* Ensures it occupies its own line */
  font-weight: 400;
}

/* Style for lesCollab details */
.lesCollab {
  margin-top: 1rem; /* Adjust as needed */
}

.lesCollab hr {
  border: none;
  border-top: 1px solid #ccc; /* Gray color for the horizontal rule */
}

.lesCollab p {
  margin: 0.5rem 0; /* Adjust top and bottom margin for spacing */
  font-size: 14px; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
}

.lesCollab p:first-of-type {
  font-weight: bold; /* Make the first paragraph bold */
}

/* Style for the link */
.lesCollab a {
  color: #007bff; /* Blue color for the link */
  text-decoration: underline; /* Underline the link */
}

.lesCollab a:hover {
  color: #0056b3; /* Darker blue color on hover */
}
