.navbar {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: start; /* Adjust as needed based on your design */
  height: 100vh;
  width: 120px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #191f43;
  overflow: hidden;
  transform: translateX(0); /* Affiche par défaut */
  transition: transform 0.3s ease;
    z-index: 3000;
}
.navbar:not(.visible) {
  transform: translateX(-120px); /* Cache hors écran */
}
/* Show navbar */
.navbar.visible {
  transform: translateX(0);
}
.navbar-toggle {
  position: fixed;
  left: 10px;
  z-index: 2000;
  cursor: pointer;
  padding: 10px;
  margin-left: 41px;
  color: #191f43;
  opacity: 0.7;
  top: 6px;
    z-index: 6000;
}

.navbar-inner {
  display: flex;
  flex-direction: column; /* Organise les éléments enfants verticalement */
  align-items: center; /* Centre les éléments enfants horizontalement */
  justify-content: start; /* Alignement vertical au début */
  width: 63%;
  background-color: #879eb9;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow-y: auto; /* Permet le défilement si la liste est longue */
}

.navbar-extension {
  width: 30px;
  height: 100%;
  background-color: #f3f3f3;
  position: absolute;
  right: -3px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navbar-logo {
  height: 33px;
  width: 33px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Styles pour la navbar horizontale */
.navbar-horizontal {
  display: flex;
  height: 40px; /* Hauteur réduite comme précédemment mentionné */
  margin-left: 600px; /* Réduisez cette valeur pour diminuer l'espace à gauche */
  width: calc(
    100% - 150px
  ); /* Ajustez la largeur en conséquence pour maintenir la cohérence */
  background-color: transparent;
  align-items: center;
  z-index: 1000;
}

.searchh-formm {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement les éléments enfants */
  margin-right: auto; /* Mettre à auto pour déplacer la barre de recherche à gauche */
}

.searchh-inputt {
  color: #191f43; /* Change la couleur du texte en blanc */
  border-radius: 20px; /* Arrondi des bords de l'input */
  padding: 5px 10px; /* Espacement interne pour le texte */
  width: 250px; /* Largeur de la barre de recherche */
  outline: none; /* Supprime l'outline par défaut au focus */
}
/* Styles pour l'icône de recherche */
.search-iconn {
  color: #191f43; /* Couleur de l'icône de recherche */
  font-size: 22px; /* Taille de l'icône */
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur de type pointer */
  padding: 0; /* Aucun espacement interne */
  margin-left: -32px; /* Ajustement horizontal de la position */
  margin-top: 1px; /* Ajustement vertical de la position */
}

.navbar-iconn {
  cursor: pointer; /* Change le curseur pour indiquer la cliquabilité */
}
#search-input-navbar::placeholder {
  color: #191f43; /* Définit la couleur du placeholder en blanc uniquement pour cet input */
  opacity: 1; /* Assure que la couleur du placeholder est pleinement visible */
}
.vertical-icon {
  color: white; /* Définit la couleur des icônes en blanc */
  font-size: 24px; /* Taille des icônes */
  margin: 10px 0; /* Espacement vertical entre les icônes */
  cursor: pointer; /* Indique que les icônes sont cliquables */
}
.icon-containerrr {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignement à gauche */
  height: 100%; /* Prend toute la hauteur disponible */
  padding-left: 10px; /* Déplace toutes les icônes un peu plus à droite */
  padding-top: 180px; /* Espacement optionnel en haut */
  padding-bottom: 10px; /* Espacement optionnel en bas */
}

.icon-containerrr .navbar-iconnn {
  margin-bottom: 15px; /* Ajoute un espacement en bas de chaque icône */
}

.icon-containerrr .navbar-iconnn:last-child {
  margin-bottom: 0; /* Supprime la marge en bas de la dernière icône */
}

.navbar-iconnn {
  width: 25px; /* Définit une largeur fixe pour toutes les icônes */
  height: 25px; /* Définit une hauteur fixe pour toutes les icônes */
  margin-bottom: 15px; /* Espacement vertical uniforme */
  color: white; /* Assure la visibilité contre l'arrière-plan du navbar */
  font-size: 23px;
  cursor: pointer;
}
/* notif icon*/
.icon-containerr {
  display: flex;
  gap: 22px; /* Espacement entre les icônes */
  padding-right: 500px; /* Espacement à droite */
  color: #191f43;
  font-size: 34px; /* Taille des icônes */
  margin-top: auto;
}

/* Styles pour l'icône d'utilisateur */
.inner-user {
  color: #191f43; /* Couleur de l'icône */
  font-size: 24px; /* Taille de l'icône */
  margin: 20px 20px 20px 0; /* Espacement autour de l'icône avec une marge droite de 10px */
  margin-top: 50px;

  cursor: pointer; /* Curseur de type pointer */
}
.user-photo {
  font-size: 34px; /* Taille de l'icône */

  width: 37px; /* Réduction de la taille de la photo de profil */
  height: 37px; /* Garde la photo de profil circulaire */
  border-radius: 50%; /* Rend l'image complètement ronde */
  object-fit: cover; /* Assure que l'image couvre bien l'espace sans être déformée */
}

.user-photo:hover {
  /* Facultatif : Style de survol pour indiquer qu'il est cliquable */
  opacity: 0.6;
}
.user-photoo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0;
  margin-right: 23px;
  cursor: pointer; /* Rend les utilisateurs cliquables */
}

.user-photoo:hover {
  /* Facultatif : Style de survol pour indiquer qu'il est cliquable */
  opacity: 0.6;
}

body {
  overflow-x: hidden;
}
/* Styles généraux pour le menu déroulant */
.user-info {
  position: absolute;
  top: 50px; /* Adjusted for better positioning */
  right: 20px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all 0.3s ease;
  opacity: 0.95;
  border: 1px solid #e2e8f0; /* Light grey border for subtle definition */
  max-width: 200px; /* Restrict maximum width */
}

.user-info:hover {
  opacity: 1; /* Full opacity on hover */
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow for lifted effect */
}
/* Styles pour les actions de l'utilisateur */
.user-actions a,
.user-actions button {
  color: #4a5568; /* Darker text for better readability */
  background-color: #ffffff; /* Background to match the dropdown */
  padding: 12px 20px; /* Larger padding for a roomier feel */
  font-size: 15px; /* Slightly larger font size */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.user-actions a:hover,
.user-actions button:hover {
  background-color: #edf2f7; /* Lighter grey for hover background */
  color: #2d3748; /* Slightly darker text on hover for contrast */
}

/* Icons color now uses primary color scheme for consistency */
.acceuil-icon,
.profil-icon,
.logout-icon {
  margin-right: 8px; /* Ensures spacing between icon and text */
  color: #4299e1; /* Bright blue for a pop of color */
}

/* Improved logout button for distinction */
.logout-button {
  color: #e53e3e; /* Red color for logout to indicate a distinct action */
}

/* Additional hover effects for icons within the dropdown for visual feedback */
.user-actions i:hover {
  transform: scale(1.1); /* Slightly enlarge icons on hover */
  transition: transform 0.2s;
}

/* Add this for a subtle entrance animation for the dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-info {
  animation: slideDown 0.3s ease forwards;
}

/* Notifications Count Badge */
.notifications-count {
  position: absolute;
  background-color: #ed1c24;
  color: #ffffff;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 11px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown Menu for Notifications */
.notifications-dropdown {
  position: absolute;
  right: 0;
  margin-right: 15px;
  top: 45px;
  background-color: #ffffff;
  width: 400px; /* Adjust based on your content width */
  max-height: 450px; /* Set your desired maximum height here */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 15px;
  overflow-y: auto; /* Makes content scrollable vertically if it exceeds the max height */
  cursor: pointer;
  text-align: left;
}
.notifications-dropdown::-webkit-scrollbar {
  width: 6px; /* Reducing the width of the scrollbar */
}

.notifications-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
    border-radius: 45px;

}

.notifications-dropdown::-webkit-scrollbar-thumb {
  background: #879eb9;
  border-radius: 45px;

}

.notifications-dropdown::-webkit-scrollbar-thumb:hover {
  background: #191f43;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.2s;
}

.notification-item:hover {
  background-color: #f8f8f8; /* Light gray background on hover */
}

.notification-item.unseen {
  background-color: #edf2fa; /* Slightly different color for unseen notifications */
}

.notification-user-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.notification-text {
  flex: 1;
  font-size: 14px;
}

.notification-text strong {
  font-weight: 600;
}

.notification-icon-Comment {
  margin-right: 10px;
  color: green; /* Couleur des icônes pour un aspect plus subtil */
  font-size: 16px; /* Taille des icônes */
}
.notification-icon-jaime {
  margin-right: 10px;
  color: #ed1c24; /* Couleur des icônes pour un aspect plus subtil */
  font-size: 16px; /* Taille des icônes */
}
.notification-delete-icon {
  margin-left: auto; /* Pushes the icon to the right */
  color: #cb2431; /* A standard delete color, adjust as needed */
  cursor: pointer; /* Indicates the icon is clickable */
  padding: 5px; /* Easier to click */
  font-size: 14px; /* Adjust icon size as needed */
  display: flex; /* Centers the icon */
  align-items: center; /* Centers vertically in case your notification item has variable height */
  justify-content: center; /* Centers horizontally */
  border-radius: 50%; /* Optional: makes the hover background circle */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
}

.notification-delete-icon:hover {
  color: #ffffff; /* Change color on hover */
  background-color: #cb2431; /* Add a background color on hover */
}

.notification-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between the notification text and delete icon */
}

.search-results {
  position: absolute;
  top: 40px;
  left: 390px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  width: 50%;
  z-index: 1002; /* Ensure it appears above other content */
  border-radius: 5px; /* Optional: for rounded corners */
  overflow: hidden; /* Optional: to ensure the border-radius applies to child elements */
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Ensure text inherits the default color, not link color */
}

.user-photooo {
  margin-right: 10px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px 0;
  margin-right: 23px;
  cursor: pointer; /* Indicates the element is clickable */
}

.search-no-results-message {
  padding: 10px;
  text-align: center;
  color: #666; /* Optional: Change the text color to differentiate the message */
  font-style: italic; /* Optional: Italicize the message */
}

.points {
  position: absolute;
  top: 10px;
  left: 1240px; /* Adjust as needed */
  background-color: #4299e1; /* Match the color with your theme */
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.phone-icon {
  font-size: 27px;
  margin-right: 1.5%;
    color: #191f43; /* Couleur de l'icône de recherche */
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  cursor: pointer; /* Curseur de type pointer */
  margin-top: 1px;
}