.offre-employee-container {
  padding: 20px;
}

.offre-employee-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.offre-employee-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.offre-employee-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
   min-height: 350px; /* Adjust based on your content */
  display: flex;
  flex-direction: column;
}

.offre-employee-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offre-employee-card img {
 width: 100%; /* ensures the image takes the full width of the card */
  height: 200px; /* adjust based on your preference */
  object-fit: cover; /* maintain aspect ratio without distortion */
  transition: transform 0.5s ease;
}

.offre-employee-card:hover img {
  transform: scale(0.9); /* Decrease the size of the image on hover */
}

.offre-employee-card h2 {
           text-transform: uppercase; 

  font-weight: bold;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 20px;
  line-height: 42px;
  color: rgba(25, 31, 67, 0.48);
}

.offre-employee-card p {
  margin-bottom: 10px;
}
.offre-employee-card .rating span {
  font-size: 24px;
  color: #ffd700; /* Couleur des étoiles */
  margin-right: 5px;
}
.voirPlusOffre {
  padding: 8px 27px;
  border: none;
  border-radius: 10px;
  background-color: #879eb9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.voirPlusOffre:hover {
  background-color: #6b85a4;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}
