/* ReclamationEmploye.css */
.recl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.recl-input-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.recl-input {
  margin-bottom: 20px;
  width: 100%;
}

.recl-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.recl-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.status-success {
  background-color: #e0f7fa;
  color: #00796b;
}

.status-warning {
  background-color: #fff3e0;
  color: #e65100;
}

.status-error {
  background-color: #ffebee;
  color: #c62828;
}

.recl-card {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.recl-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

.recl-card-content {
  flex: 1;
  padding: 20px;
}

.recl-card-status {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .recl-card {
    width: 90%;
    height: auto;
  }
}
