.recl-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 2000px;
  margin-top: 20px;
}
.status-success {
  background-color: #cff6c8;
  color: #ffffff;
}

.status-warning {
  background-color: #ffeac7; 
  color: #ffffff;
}

.status-error {
  background-color: #ffbeae; 
  color: #ffffff;
}

.recl-card {
  width: 600px; /* Largeur fixe */
  height: 400px; /* Hauteur fixe */
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Empêche le débordement de texte */
}

.recl-card-content {
  flex: 1; /* Utilise tout l'espace disponible */
  overflow: auto; /* Permet le défilement si le texte est trop long */
  padding: 20px; /* Plus d'espace autour du texte */
}

.recl-card-status {
  flex: 0 0 180px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.recl-input-container {
  margin: 60px;
  display: flex;
  flex-direction: column;
}

.recl-input {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .recl-card {
    width: 90%; /* Ajustement pour les petits écrans */
    height: auto; /* Hauteur ajustable pour les petits écrans */
  }
}